
@{
    Layout = null;
}


    <div class="login-container">
        <div class="login-left">
            <div class="login-illustration">
                <img src="~/images/MaherLogo.png" alt="MaherLogo">
            </div>
        </div>

        <div class="login-right">
            <h1>مرحبا بعودتك إلى ماهر</h1>
            
            <form method="POST" action="/login">
                <div class="form-group">
                    <input 
                        type="email" 
                        name="email" 
                        placeholder="أدخل بريدك هنا" 
                        required
                    >
                </div>

                <div class="form-group">
                    <input 
                        type="password" 
                        name="password" 
                        placeholder="أدخل كلمة المرور هنا" 
                        required
                    >
                </div>

                <div class="forgot-password">
                    <a href="#">نسيت كلمة المرور؟</a>
                </div>

                <button type="submit" class="login-button">سجل دخول</button>
            </form>

            <div class="signup-link">
                <p>ليس لديك حساب؟ <a href="SignUpPage.html">أنشئ الآن</a></p>
            </div>
        </div>
    </div>

 

