@import 'base/variables';
@import 'base/mixins';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'pages/home';
@import 'pages/auth';
@import 'pages/ParentHomePage';
@import 'pages/childProfile';
@import 'pages/addChild';
@import 'pages/editChildProfile';
@import 'pages/parentProfile';
@import 'pages/childDashboard';
@import 'pages/manageMultipleChildren';


<<<<<<< HEAD

body, main, .container {
    display: block !important; 
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 6 !important;
=======
Ù
body, main, .container {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
>>>>>>> origin/master
}

section {
    display: block !important;
    width: 100% !important;
}

<<<<<<< HEAD
.features-section, 
.process-section, 
.cta-section,
.main-section { 
    display: flex !important;
    flex-direction: row; 
=======
.features-section,
.process-section,
.cta-section,
.main-section {
    display: flex !important;
    flex-direction: row;
>>>>>>> origin/master
    justify-content: center;
}

@media (max-width: 992px) {
<<<<<<< HEAD
    .features-section, 
    .process-section, 
=======
    .features-section,
    .process-section,
>>>>>>> origin/master
    .cta-section,
    .main-section {
        flex-direction: column !important;
        align-items: center;
<<<<<<< HEAD
    }
    
    .main-section {
        flex-direction: column-reverse !important;
    }
}
=======
    }

    .main-section {
        flex-direction: column-reverse !important;
    }
}
>>>>>>> origin/master
