<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BadeePlatform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BadeePlatform.styles.css" asp-append-version="true" />
</head>
<body>
 <header>
    <nav>
        <div class="navbar-left">
            <a href="index.html" class="logo">
                <img src="../Media/MaherLogo.png" alt="MaherLogo">
            </a>
        </div>
    </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>الاتصال والدعم</h3>
                <ul>
                    <li><a href="#">مركز العملاء</a></li>
                    <li><a href="#">تواصل معنا</a></li>
                    <li><a href="#">شارك معنا</a></li>
                    <li><a href="#">تقديم شكوى</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>تابعنا على</h3>
                <div class="social-links">
                    <a href="#">X</a>
                    <a href="#">Facebook</a>
                    <a href="#">LinkedIn</a>
                    <a href="#">Instagram</a>
                </div>
                <p>الموقع: جدة</p>
                <p>البريد: maherproject@gmail.com</p>
            </div>

            <div class="footer-logo">
                <img src="..\Media\MaherLogo.png" alt="MaherLogo">
                <h2>ماهر - منصة ذكية لاكتشاف المواهب</h2>
                <p>منصة تعليمية ذكية لاكتشاف وتنمية مواهب الأطفال من خلال العاب تعليمية فعالة ومنهجية علمية متطورة.</p>
            </div>
        </div>

        <div class="footer-bottom">
            <p>جميع الحقوق محفوظة لفريق ماهر - 2025 </p>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
