

.site-footer {
    background: #ffe08a;
    padding-top: 4rem;
    margin-top: 4rem;
    direction: rtl;
    position: relative;
    overflow: hidden;

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0 0rem;
        padding-bottom: 4rem;
        text-align: center;
        gap: 4rem;

        @include respond-to(tablet) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .footer-col {
        flex: 1;
        min-width: 200px;

        .footer-title {
            color: $text-dark;
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 1.5rem;
            padding-bottom: 0.8rem;
            position: relative;
            display: inline-block;
            min-width: 120px;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $secondary-color;
            }
        }

        &.logo-col {
            .logo-wrapper {
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid$primary-color;
                display: inline-block;
                min-width: 150px;
                margin-top: -30px;
            }

            .footer-logo {
                height: 80px;
                width: auto;
            }

            .footer-desc {
                color: $text-dark;
                font-size: 0.95rem;
                line-height: 1.8;
                max-width: 280px;
                margin: 0 auto;
            }
        }

        .footer-links {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 0.8rem;

                a {
                    color: $text-color;
                    text-decoration: none;
                    font-size: 1rem;
                    transition: color 0.3s;

                    &:hover {
                        color: $purple-color;
                    }
                }
            }
        }
        // social media

        &.social-col {
            .social-icons {
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-bottom: 1.5rem;

                .icon-box {
                    width: 35px;
                    height: 35px;
                    border: 1px solid $text-color;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $text-color;
                    text-decoration: none;
                    transition: all 0.3s;
                    background-color: transparent;

                    i {
                        font-size: 1.1rem;
                    }

                    &:hover {
                        background-color: $secondary-color;
                        color: white;
                    }
                }
            }

            .contact-info {
                p {
                    color: $text-color;
                    font-size: 0.95rem;
                    margin-bottom: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    i {
                        color: $secondary-color;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }

    .footer-bottom {
        position: relative;
        text-align: center;
        padding-bottom: 30px;

        .copyrights {
            position: relative;
            padding-bottom: 8px;
            z-index: 2;

            p {
                color: $text-color;
                font-size: 0.85rem;
                margin: 2px 0;
            }
        }

        .wave-line {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px;
            color: $primary-color;
        }
    }
}
