$header-bg: #ffffff;
$primary-pink: #df828b; 
$text-dark: #333333;
$hover-color: #e98b9a; 
$shadow-color: rgba(0, 0, 0, 0.05);


header {
    background-color: $header-bg;
    border-radius: 22px;
    padding: 15px 0;
    box-shadow: 0 4px 20px $shadow-color;
    position: sticky;
    top: 0;
    z-index: 1000;
    direction: rtl;

    nav {
        display: flex;
        justify-content:space-between;
        align-items: center;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 2rem;
        position: relative;

        .logo {
            img {
                height: 70px;
                width: auto;

                @media (max-width: 768px) {
                    height: 45px;
                }
            }
        }

        .nav-menu {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 3.2rem;

            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            @media (max-width: 992px) {
                display: none;
            }

            li {
                a {
                    text-decoration: none;
                    color: $text-dark;
                    font-size: 1.1rem;
                    font-weight: 600;
                    transition: color 0.3s ease;

                    &:hover {
                        color: $hover-color;
                    }
                }
            }
        }
    }
}